img {
  width: 200px;
  height: 200px;
}

.meal {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 70px;
  background-color: #f4f4f4;
}

.items p {
  font-weight: bold;
  text-align: center;
}
