* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f8f5f0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
  background-color: #1e1e1e;
}

.header-name {
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.header-items a {
  text-decoration: none;
  color: white;
  margin-left: 25px;
}

.tittle {
  text-align: center;
  padding: 30px;
}

.banner {
  border-radius: 15px;
  background-color: #ffffff;
  padding: 20px;
  width: 640px;
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  margin: 20px;
}

.content p:last-of-type {
  padding: 20px;
  color: #ffcb20;
}

.card {
  width: 900px;
  margin: 0 auto;
  margin-top: 70px;
}

.card h1 {
  text-align: center;
  padding: 30px;
}

.card-items {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.footer {
  margin-top: 50px;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}
